
<div class="button">
  <div>
    <form method="get" action="/page-one">
      <button type="submit" class="button__color">Personajes</button>
    </form>
  </div>
  <div>
    <form method="get" action="/page-two">
      <button type="submit" class="button__color">Episodios</button>
    </form>
  </div>
</div>

<h1 class="api">Api Rick and Morty</h1>


<div class="form">
<h1> Formulario </h1>

<form (ngSubmit)= "onSubmit()" [formGroup]="navigationForm">

  <fieldset>
    <label for="name">Nombre: </label>
    <input type="text" id="name" formControlName="name">
  </fieldset>

  <fieldset>
    <label for="age">Edad: </label>
    <input type="number" id="age" formControlName="age">
  </fieldset>

  <fieldset>
    <label for="ciudad">Ciudad: </label>
    <input type="text" id="Ciudad" formControlName="Ciudad">
  </fieldset>

  <fieldset>
    <label for="email">Email: </label>
    <input type="email" id="email" formControlName="email">
  </fieldset>

  <button type="submit">Enviar</button>

</form>
</div>

<div>
  <h1>Listado Formulario</h1>
  <app-navigation-list [formularioCompleted]="formularioCompleted"></app-navigation-list>
</div>
