.button{
  display: flex;
  justify-content: start;

}

.button__color {
  background-color: pink;
  margin-top: 20px;
  margin-left: 50px;
}

.api{
  margin: 50px;
}

.form{
  margin-left:50px;
  margin-right: 50px;
}


