<div class="button">
  <div>
    <form method="get" action="/navigation">
      <button type="submit" class="button__color">Página Inicio
      </button>
    </form>
  </div>
  <div>
    <form method="get" action="/page-two">
      <button type="submit" class="button__color">Episodios</button>
    </form>
  </div>
</div>

<div class="character">
  <h1>Personajes Rick and Morty</h1>
  <div class="character__content">
<div *ngFor="let character of characterList">
  <h4>{{character.id}} - {{character.name}} - {{character.species}} - {{character.gender}}</h4>
  <img [src]="character.image" alt ="character.name">
</div>
  </div>
</div>
