.character {
  margin: 50px;
}

.character__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.button{
  display: flex;
  justify-content: start;
}

.button__color {
  background-color: pink;
  margin-top: 20px;
  margin-left: 50px;
}
